<div class="containner__big-card">
    <div class="big-card__photo">
       <img src="https://th.bing.com/th/id/OIP.PqQJ6BH3MjZ0ukObKrziBgHaEo?w=259&h=180&c=7&r=0&o=5&pid=1.7"
       alt=""
      
       height="290px"
     

    >

    </div>
   
    <div class="big-card-title">
      <h1> 
         <a href="#"> Saiu a nova versão do Angular </a>
        </h1>

    </div>
    <div class="big-card-description">
        <p>
          <a href="#">  bla bla bla  blssss ss  s s s s ssss s  sssss s s s 
            ss s s s  s s s s s  s s s s s  s s
        s s s s  s s s s  s s s s  s de r f f fg   </a> 
        </p>

    </div>
</div>