<header>
<app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles_main">
    <app-big-card photoCover="https://res.cloudinary.com/nerd-club/image/upload/v1624974311/filmes-homem-aranha.jpg"
    cardTitle="Homem Aranha"
    cardDiscription="Marvel Studios">
    

</app-big-card>
<app-big-card photoCover="https://th.bing.com/th/id/OIP.AG1xBDu4vEHzy6WdyJdvCAHaGl?w=960&h=854&rs=1&pid=ImgDetMain"
cardTitle="viuva negra"
cardDiscription="Marvel Studios">


</app-big-card>

</div>
<div class="articles_others">
<app-small-card 
cardTitle="Nova serie anunciada no disneyPlus"
photoCover="https://images.hdqwalls.com/download/scarlett-johansson-black-widow-4k-ln-720x1280.jpg"
>

</app-small-card>
<app-small-card
cardTitle="Nova serie anunciada no disneyPlus"
photoCover="https://th.bing.com/th/id/OIP.BlZqNfFUJAogf1R4UqydMwHaLH?pid=ImgDet&w=191&h=286&c=7"
>

</app-small-card>
<app-small-card 
cardTitle="Nova serie anunciada no disneyPlus"
photoCover="https://th.bing.com/th/id/OIP.Y5dsZfsTFldh1jgIjqiOPAHaEK?w=291&h=180&c=7&r=0&o=5&pid=1.7"
>


</app-small-card>
</div>

</div>



